@import "https://fonts.googleapis.com/css2?family=Roboto&display=swap";
@import "https://rsms.me/inter/inter.css";

@font-face {
  font-family: "Menlo";
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: local("Menlo"), local("Menlo-Regular"),
    url("/assets/fonts/Menlo-Regular.woff2") format("woff2")
    url("/assets/fonts/Menlo-Regular.woff") format("woff");
}
