// @font-face {
//     font-family: "Noe Display";
//     font-style: normal;
//     font-display: swap;
//     font-weight: 400;
//     src: local("Noe Display"), local("NoeDisplay-Regular"),
//         url("/assets/fonts/noe-display-regular.woff2") format("woff2"),
//         url("/assets/fonts/noe-display-regular.woff") format("woff");
// }

@import url("//fonts.googleapis.com/css2?family=Inter&display=swap");

@font-face {
  font-family: "Menlo";
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: local("Menlo"), local("Menlo-Regular"),
    url("/assets/fonts/Menlo-Regular.woff2") format("woff2")
    url("/assets/fonts/Menlo-Regular.woff") format("woff");
}
