// Main Site Layout

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  min-height: 100vh;
  position: relative;

  & .header,
  & .footer {
    flex: none;
  }

  & .main {
    width: auto;
    display: flex;
    flex: 1 0 auto;
    align-items: flex-start;

    position: absolute;
    top: 0;
    left: 330px;
    padding-left: 20px;
    /*
      TODO: Здесь установлено минимальный внутренний отступ слева. Необходимо обсудить его с дизайнером.
    */

    &::after {
      content: "";
      display: block;
      height: 0;
      visibility: hidden;
    }

    @media screen and (max-width: 769px) {
      position: relative;
      top: 0;
      left: 0;
      padding-left: 0;
    }
  }

  .container {
    width: calc(100vw - 350px);
    margin-left: auto;
    margin-right: auto;
    max-width: $container-max-width;
    transition: all 0.2s ease-in;

    @media screen and (max-width: 769px) {
      width: 100%;
    }
  }

  &_no-aside {
    .container {
      width: 100%;
    }

    .main {
      position: relative;
      left: 0;
      padding-left: 0;

      .container {
        padding: 0 20px;
      }
    }
  }

  .layout {
    &__header {
      padding-top: 37px;
      padding-left: 30px;

      .header {
        padding: 0;
      }

      .logo {
        display: inline-block;
        height: 30px;
      }
    }

    &__footer {
      display: none;
    }
  }
}
