.mainpage {
  position: relative;
  height: 100vh;
  overflow: hidden;
  color: black;

  a,
  a:hover,
  a:visited {
    color: inherit;
  }

  &__header {
    position: relative;
    padding: 37px 30px;
  }

  &__nav-list {
    display: flex;
    list-style-type: none;
    padding-inline-start: 0;
    margin-block-start: 0;
    margin-block-end: 0;
  }

  &__nav-item {
    margin-right: 10px;

    &:last-of-type {
      margin: 0;
    }
  }

  &__main {
    height: calc(100vh - 104px);;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  &__footer {
    position: relative;
  }

  &__logo {
    height: 30px;

    & img {
      height: 100%;
    }
  }

  &__slogan {
    position: absolute;
    top: 34px;
    right: 30px;
    display: flex;
    align-items: center;
  }

  &__slogan-text {
    font-size: 18px;
    line-height: 22px;
    margin-right: 23px;
  }

  &__search {
    width: 90%;

    &_suggestion {
      display: flex;
    }

    &_hidden-suggestion {
      position: relative;
      width: 80vw;
      max-width: 920px;
      max-height: 110px;
    }
  }

  &__search-suggestions.search__suggestions {
    position: absolute;
    width: 100%;
    background: $white;
    box-shadow: 0 0 20px rgba(158, 158, 158, 0.2);
    border-radius: 3px;
  }

  &__search-toggler {
    padding: 2px 10px;
    border: transparent 1px solid;
    border-radius: 18px;
    font-size: 14px;
    line-height: 1.67;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: $gray-darkest;
    cursor: pointer;
    transition: all 0.2s;
    user-select: none;

    &_active {
      padding: 2px 20px 2px 10px;
      background: $black;
      border-radius: 18px;
      color: $white;
      position: relative;
    }

    &_active::after {
      content: "x";
      position: absolute;
      top: 3px;
      right: 6px;
      font-size: 0.7em;
    }

    &__label:not(:last-child) {
      margin-right: 15px;
    }

    &__input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;

      &:focus-visible + .mainpage__search-toggler,
      &:hover + .mainpage__search-toggler {
        background: transparent;
        border-color: $black;
        border-radius: 18px;
        color: $gray-darkest;
        position: relative;
      }

      &:checked + .mainpage__search-toggler {
        padding-right: 20px;
        background: $black;
        color: $white;
        position: relative;
      }

      &:checked:focus-visible + .mainpage__search-toggler {
        box-shadow: 4px 4px 1px darkblue;
      }

      &:checked + .mainpage__search-toggler::after {
        content: "x";
        position: absolute;
        top: 3px;
        right: 6px;
        font-size: 0.7em;
      }
    }
  }

  &__search-input {
    width: 100%;
    border: none;
    border-bottom: 1px solid $nb-grey-lightest;
    font-size: 48px;
    line-height: 58px;
    color: $gray-darkest;
    transition: border 0.2s;

    &:focus {
      outline: none;
      border-bottom: 1px solid $black;
    }
  }

  ::-webkit-input-placeholder {
    color: $gray;
  }
  ::-moz-placeholder {
    color: $gray;
  } /* Firefox 19+ */
  :-moz-placeholder {
    color: $gray;
  } /* Firefox 18- */
  :-ms-input-placeholder {
    color: $gray;
  }

  &__footer-links {
    font-size: 12px;
    line-height: 15px;
    position: absolute;
    bottom: 30px;
    left: 30px;
  }

  &__footer-link {
    &_bold {
      font-weight: bold;
    }
  }

  &__mascot {
    width: 20vmax;
    height: 25vmax;
    background-image: url("/assets/images/logo-new.png");
    background-image: url("/assets/images/logo-new.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    position: fixed;
    bottom: -3.5vw;
    right: 30px;

    //&_sleep {
    //  background-position: 49.8% 0;
    //}
    //
    //&_wow {
    //  background-position: 100% 0;
    //}
  }
}

.autocomplete-active {
  background-color: lightskyblue;
}
