.navpage {
  &__header {
    .header {
      padding: 37px 0 0 30px;
    }

    .logo {
      height: 30px;
    }
  }

  .main {
    .container {
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      padding: 0 20px;
      max-width: 1200px;
      transition: all 0.2s ease-in;
    }
  }

  &__block {
    display: flex;
    justify-content: flex-start;

    @media screen and (max-width: 425px) {
      flex-direction: column;
    }
  }

  &__column {
    width: calc(33% - 2em);
    margin-right: 2em;

    @media screen and (max-width: 425px) {
      width: 100%;
      margin-right: 0;
    }
  }

  &__footer {
    padding: 20px 23px 15px 37px;

    .footer {
      color: black;
      font-size: 12px;
    }
  }

  &__mascot {
    width: 268px;
    height: 334px;
    background-image: url("/assets/images/logo-new.png");
    background-image: url("/assets/images/logo-new.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    position: fixed;
    bottom: -50px;
    right: 72px;

    @media screen and (max-width: 1300px) {
      display: none;
    }
  }
}
