body {
  font-family: "Inter", Arial, sans-serif;
  font-weight: 400;
}

@include headers {
  margin-block-start: 1.3em;
  margin-block-end: 0.5em;
  line-height: 1.3;
  font-weight: 400;

  & + p {
    margin-block-start: 0;
  }

  &[id] {
    a {
      opacity: 0;
      color: lightgray;
      font-size: 0.7em;
      transition: opacity 0.2s;
    }

    &:hover a,
    &:focus a,
    & a:hover,
    & a:focus {
      opacity: 0.5;
      text-decoration: none;
    }
  }
}

h1 {
  font-size: 2.5rem;
  text-rendering: optimizeLegibility;
}

h2 {
  font-size: 2.125rem;
}

h3[id],
h4[id],
h5[id],
h6[id] {
  a {
    font-size: 0.8em;
  }
}

p {
  margin-block-start: 0.5em;
  margin-block-end: 0;

  & img {
    max-width: 100%;
  }
}

.lead {
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.4;

  @include mq(md) {
    font-size: 2rem;
  }
}

a {
  text-decoration: none;
  color: $link-color;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  text-decoration: none;
  color: $link-visited;
}

pre {
  white-space: nowrap;
  padding: 0 5px;
  background: $callout-background;
  color: $contrast-blue;
  font-style: normal;
}

code {
  display: inline-block;
  font-family: "Menlo", monospace;
  font-size: inherit;
  color: $contrast-blue;
  padding: 0 5px;
  border-radius: 3px;
  background-color: $gray-light;
}

pre {
  margin: 1em 0;
  padding: 2em;
  font-family: "Menlo", monospace;
  font-size: inherit;
  background: $callout-background;
}

pre code {
  padding: 0;
}

.columns {
  width: 100%;

  &__line {
    display: flex;
    justify-content: flex-start;
  }

  @media screen and (max-width: 425px) {
    &__line {
      display: flex;
      flex-direction: column;
    }
  }
}

.table {
  width: 100%;

  &__item {
    padding: 10px;

    &_half {
      width: 50%;
    }
  }
}
