<style>
  {% include './index.css' %}
</style>

<div class="wrapper">
  <h1 class="main-title">Только хорошие новости</h1>
  <h2 class="title">Учёные научились выращивать зубы</h2>
  <p class="text">Группа специалистов впервые сумела вырастить настоящий зуб в пробирке при помощи биореактора. Пока учёные выращивают зубы для мышей. Уже сегодня для выращивания зуба нужно всего две недели, после этого его отправляют в челюсть другой подопытной мыши. Почти 100% зубов приживаются.</p>
</div>
