* {
  margin: 0;
  padding: 0;
}

.element {
  height: 100vh;
  background-color: #49a16c;
  background-image: url("/assets/images/posts/background-position/doggo.png");
  background-repeat: no-repeat;
}
