<footer class="footer" role="contentinfo">
    <div class="footer__inner container">
        <span>&copy; Дока {{ build.timestamp | dateToFormat('yyyy') }}</span>
        <a href="https://github.com/Y-Doka/11ty-test" class="footer__git">
            {% icon "github" %} Присоединиться на GitHub
        </a>
    </div>
</footer>
