<style>
  {% include './icon.css' %}
</style>

<div class="message">
  <p class="warning">Внимание! Этот абзац является важным предупреждением!</p>
</div>

<div class="message">
  <p class="info">Этот абзац является информационным.</p>
</div>
