@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.article {
  width: 90%;
  max-width: 900px;
  overflow-x: hidden;
  margin-left: 20px;
  padding-bottom: 2rem;

  @media screen and (max-width: 769px) {
    margin-left: auto;
    margin-right: auto;
  }

  & iframe {
    border: 0;
    width: 100%;
  }

  &__title {
    display: flex;
    align-items: center;

    position: relative;
    padding-top: 60px;
    padding-right: 1em;
    border-bottom: 1px solid #b7b7b7;
    font-size: 3.75rem;
    line-height: 1.2;

    @media screen and (max-width: 425px){
      font-size: 2.75rem;
    }

    &-edit {
      margin-left: 15px;
      font-size: 0.5em;
      color: #AFC9DA;

      &:hover {
        color: #1A5AD7;
        text-decoration: none;
      }
    }

    & h1 {
      display: block;
      line-height: inherit;
      font-size: inherit;
      font-weight: inherit;
      margin-block-start: 0;
      margin-block-end: 0;
    }
  }

  &__contributors {
    margin-top: 42px;
    margin-bottom: 36px;
  }

  &__section {
    position: absolute;
    right: 0;
    bottom: 1.6em;
    font-size: 0.2em;
    color: #b7b7b7;
    text-transform: uppercase;
  }

  &__table {
    & table {
      width: 100%;
      margin: 1em 0;

      & th, & td {
        padding: 0 .5em;
      }
    }

    &_all-half {
      & table {
        & th, & td {
          width: 50%;
        }
      }
    }

    &_all-third {
      & table {
        & th, & td {
          width: 33%;
        }
      }
    }

    &_all-quarter {
      & table {
        & th, & td {
          width: 25%;
        }
      }
    }
  }

  &__code {
    border: 1px solid #18191C;
    position: relative;

    &:after {
      content: "Результат";
      position: absolute;
      right: 10px;
      top: 10px;
      opacity: 0.5;
      color: white;
      font-family: "Inter", Arial, sans-serif;
      font-size: 0.625em;
      text-transform: uppercase;
      user-select: none;
    }
  }

  & details {
    & summary {
      cursor: pointer;
    }
  }
}
