@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.article {
  width: 90%;
  max-width: 900px;
  overflow-x: hidden;
  margin-left: 20px;
  padding-bottom: 2rem;

  @media screen and (max-width: 769px) {
    margin-left: auto;
    margin-right: auto;
  }

  & iframe {
    border: 0;
    width: 100%;
  }

  &__title {
    position: relative;
    padding-right: 1em;
    border-bottom: 1px solid #b7b7b7;
    font-size: 3.75rem;
    line-height: 1.2;

    &-edit {
      font-size: 0.5em;
      color: #1A5AD7;
      transition: font-size .5s;

      &:hover {

        font-size: 0.75em;

        color: #064236;
        text-decoration: none;
      }
    }
  }

  &__section {
    position: absolute;
    right: 0;
    bottom: 1.6em;
    font-size: 0.2em;
    color: #b7b7b7;
    text-transform: uppercase;
  }

  &__table {
    & table {
      width: 100%;
      margin: 1em 0;

      & th, & td {
        padding: 0 .5em;
      }
    }

    &_all-half {
      & table {
        & th, & td {
          width: 50%;
        }
      }
    }

    &_all-third {
      & table {
        & th, & td {
          width: 33%;
        }
      }
    }

    &_all-quarter {
      & table {
        & th, & td {
          width: 25%;
        }
      }
    }
  }

  &__code {
    border: 1px solid #18191C;
    position: relative;

    &:after {
      content: "Результат";
      position: absolute;
      right: 10px;
      top: 10px;
      opacity: 0.5;
      color: white;
      font-family: "Inter", Arial, sans-serif;
      font-size: 0.625em;
      text-transform: uppercase;
      user-select: none;
    }
  }

  & details {
    & summary {
      cursor: pointer;
    }
  }
}
