.aside {
  width: 330px;
  height: 100vh;
  padding: 37px 30px 30px;
  position: fixed;
  top: 0;
  left: 0;
  background: $nb-grey-background;
  transition: all 0.2s ease-in;

  &._hidden {
    transform: translateX(-270px);
    transition: all 0.2s ease-out;
  }

  &__logo {
    display: inline-block;
    height: 30px;
    margin-bottom: 12vh;
    transition: transform 0.2s ease-in;

    @media screen and (min-width: 768px) and (max-height: 550px) {
      margin-bottom: 2vh;
    }

    & img {
      height: 100%;
    }

    ._hidden & {
      transform: translateX(-270px);
      transition: transform 0.2s ease-out;
    }
  }

  &__elements {
    transition: transform 0.2s ease-in;

    ._hidden & {
      transform: translateX(-270px);
      transition: transform 0.2s ease-out;
    }
  }

  &__footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px 23px 15px 37px;
    background-color: $nb-grey-background;
    transition: transform 0.2s ease-in;

    &_shadow {
      -webkit-box-shadow: 0 -4px 4px 0 rgba(183, 183, 183, 0.25);
      -moz-box-shadow: 0 -4px 4px 0 rgba(183, 183, 183, 0.25);
      box-shadow: 0 -4px 4px 0 rgba(183, 183, 183, 0.25);
      background: $nb-grey-background;
    }

    ._hidden & {
      transition: transform 0.2s ease-out;
    }
  }

  &__navigation {
    width: 100%;
  }

  &__item {
    & summary {
      position: relative;

      &::-webkit-details-marker {
        padding-bottom: 7px;
        position: absolute;
        right: 0;
        bottom: 7px;

        -moz-transform: scale(-1, 1);
        -webkit-transform: scale(-1, 1);
        -o-transform: scale(-1, 1);
        transform: scale(-1, 1);
      }
    }
  }

  &__subitem {
    padding-left: 20px;
    max-height: 32vh;

    &:first-of-type {
      padding-top: 20px;
    }

    & summary {
      cursor: pointer;
    }

    & ul {
      max-height: calc(32vh - 72px);
      overflow-y: auto;

      padding-inline-start: 0;
      list-style-type: none;

      font-size: 18px;
      line-height: 30px;

      color: $nb-gray-darkest;
      margin-block-start: 0;

      &::-webkit-scrollbar {
        background-color: white;
        width: 5px;
      }

      &::-webkit-scrollbar-thumb {
        width: 5px;
        height: 37px;
        border-radius: 5px;
        background-color: $nb-grey-dark;
      }

      &::-webkit-scrollbar-track {
        -webkit-box-shadow: none;
        background-color: $nb-grey-background;
      }

      a {
        color: inherit;
      }

      li {
        &:last-child {
          margin-bottom: 62px;
        }
      }
    }

    & summary {
      position: relative;

      &::-webkit-details-marker {
        padding-bottom: 3px;
        position: absolute;
        right: 0;
        bottom: 3px;

        -moz-transform: scale(-1, 1);
        -webkit-transform: scale(-1, 1);
        -o-transform: scale(-1, 1);
        transform: scale(-1, 1);
      }
    }
  }

  & details {
    & summary {
      &::-webkit-details-marker {
        display: inline;
        font-size: 10px;
      }
    }
  }

  &__block-title {
    font-size: 30px;
    line-height: 36px;
    cursor: pointer;
  }

  &__arrow-btn {
    height: 22px;
    transition: transform 0.1s ease-in;

    ._hidden & {
      transform-origin: center;
      transform: scale(-1, 1);
      transition: transform 0.1s ease-out;
    }
  }

  &__search {
    & .search {
      &__input {
        width: 100%;
      }

      &__suggestions {
        width: 100%;
        position: relative; /* чтобы не перекрывать боковое меню */
      }
    }
  }

  @media screen and (max-width: 769px) {
    display: none;
  }

  &__link {
    display: block;
    width: 230px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &__link._active {
    color: $contrast-blue
  }

  &__long {
    & ul {
      li {
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}
