.header {
  padding: $spacing-y 0;
  position: relative;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__left {
    display: flex;
    align-items: baseline;
    text-decoration: none;
    color: black;
  }

  &__logo {
    width: 50px;
  }

  &__title {
    font-size: 2rem;
    line-height: 0;
    font-weight: bold;
    color: #000 !important;
  }

  &__post {
    font-size: 2rem;
    color: #000;
  }
}
