<style>
  {% include './index.css' %}
</style>

<div class="article__code article__code_1">
  <header class="demo-header">
      <h1 class="demo-header__title">We are <span class="demo-header__title-accent demo-header__title-accent_color">the best</span> <span class="demo-header__title-accent">company</span></h1>
  </header>
</div>
