@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

.demo-body {
  padding: 5%;
  background-color: #18191c;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
}

.demo-body p {
  font-size: 18px;
  line-height: 27px;  
}

.demo-body .author {
  padding: 10px 0;
  border-top: 1px solid #ed6742;
  font-style: italic;
  font-size: 14px;
  font-weight: 300;
}

.demo-body .letter {
  float: left;
  margin-right: 7px;
  color: #ed6742;
  font-family: "Roboto Slab", serif;
  font-size: 52px;
  line-height: 52px;
}

.demo-header {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 480px;
	background: #18191c
		url("https://y-doka.site/assets/images/posts/span/background.png") no-repeat
		center / cover;
	z-index: 0;
	color: #ffffff;
}

.demo-header__title {
	max-width: 500px;
	color: #fff;
	font-family: "Roboto", sans-serif;
	font-size: 25px;
	text-align: center;
	text-transform: uppercase;
	font-weight: normal;
	line-height: 30px;
	letter-spacing: 1px;
}

.demo-header__title-accent {
	display: block;
	font-size: 55px;
	line-height: 58px;
	font-weight: bold;
}

.demo-header__title-accent_color {
	color: #f498ad;
	background-color: #ed6742;
}