<style>
  {% include './index.css' %}
</style>

<div class="demo-body">
  <p><span class="letter">Р</span>азумные люди приспосабливаются к окружающему миру. Неразумные люди приспосабливают мир к себе. Вот почему прогресс определяется действиями неразумных людей.</p>
  <p class="author">Бернард Шоу</p>
</div>
