<header class="header" role="banner">
    <div class="header__inner container">
        <div class="header__left">
            <img src="/assets/images/logo.png" class="header__logo">
            <a href="/" class="header__title">Дока:</a>&nbsp;
            <h1 class="header__post">{{ title }}</h1>
        </div>
        <div class="header__right">
        </div>
    </div>
</header>
