<header class="mainpage__header">
  <div class="mainpage__logo">
    {% include "../ui/logo.njk" %}
  </div>
  <div class="mainpage__slogan">
    <nav class="mainpage__nav">
      <ul class="mainpage__nav-list">
        <li class="mainpage__nav-item"><a href="/posts" class="mainpage__nav-link">Все статьи</a></li>
      </ul>
    </nav>
    <div class="mainpage__user">
    </div>
  </div>
</header>
