<style>
  {% include './formats.css' %}
</style>

<div class="article__code">
  <video width="580" controls poster="../../../assets/images/posts/video/cinema-vs-reality.jpg">
    <source src="../../../assets/video/posts/video/cinema-vs-reality.mp4" type="video/mp4">
    <source src="../../../assets/video/posts/video/cinema-vs-reality.ogv" type="video/ogg">
    <source src="../../../assets/video/posts/video/cinema-vs-reality.avi" type="video/avi">
    Ваш браузер не поддерживает встроенные видео.
  </video>
</div>
