<style>
  {% include './poster.css' %}
</style>

<div class="article__code">
  <video controls src="../../../assets/video/posts/video/frontend.mp4" poster="../../../assets/images/posts/video/frontend.jpg" width="580">

    Простите, но ваш браузер не поддерживает встроенные видео.
    Попробуйте скачать его <a href="../../../assets/video/posts/video/frontend.mp4">по этой ссылке</a>
    и открыть его на своём устройстве.

  </video>
</div>
