<style>
  {% include './poster.css' %}
</style>

<div class="article__code">
  <video controls src="https://archive.org/download/BigBuckBunny_124/Content/big_buck_bunny_720p_surround.mp4" poster="../../../assets/images/posts/video/big_buck_bunny.jpg" width="580">

    Простите, но ваш браузер не поддерживает встроенные видео.
    Попробуйте скачать его <a href="https://archive.org/details/BigBuckBunny_124">по этой ссылке</a>
    и открыть его на своём устройстве.

  </video>
</div>
