<footer class="footer">
  <div class="footer__inner">
    <nav class="footer__support">
      {% if permalink !== '/about/' %}
        <p>
          <a href="/about" class="footer__link">О проекте</a>
        </p>
      {% endif %}
      <p>
      <p>
        Присоединись к нам <a href="https://github.com/Y-Doka/y-doka.site" target="_blank" rel="noopener noreferrer" class="footer__git">на GitHub</a>
      </p>
    </nav>
  </div>
</footer>
