<footer class="footer">
  <div class="footer__inner">
    <div class="footer__support">
      Присоединись к нам <a href="https://github.com/Y-Doka/y-doka.site" target="_blank" rel="noopener noreferrer" class="mainpage__support-link">на GitHub</a>
    </div>
  </div>
</footer>
