<footer class="footer">
  <div class="footer__inner">
    <nav class="footer__support">
      <p>
        <a href="/about" class="mainpage__footer-link">О проекте</a>
      </p>
      <p>
        Присоединись к нам <a href="https://github.com/Y-Doka/y-doka.site" target="_blank" rel="noopener noreferrer" class="mainpage__support-link">на GitHub</a>
      </p>
    </nav>
    {% include "../ui/aside-arrow.njk" %}
  </div>
</footer>
