<footer class="mainpage__footer">
  <nav class="mainpage__footer-links">
    <p>
      <a href="/about" class="mainpage__footer-link">О проекте</a>
    </p>
    <p>
      Присоединись к нам <a href="https://github.com/Y-Doka/y-doka.site" target="_blank" rel="noopener noreferrer" class="mainpage__footer-link mainpage__footer-link_bold">на GitHub</a>
    </p>
  </nav>
</footer>
