<footer class="mainpage__footer">
  <p class="mainpage__support">
    Присоединись к нам <a href="https://github.com/Y-Doka/y-doka.site" target="_blank" rel="noopener noreferrer" class="mainpage__support-link">на GitHub</a>
  </p>
  <div class="mainpage__mascot"></div>
</footer>
