<style>
  {% include './image.css' %}
</style>

<div class="article__code">
  <a href="https://y-doka.site/" target="_blank">
    <img src="https://y-doka.site/assets/images/posts/a/dogs.png"
      alt="doka mainpage dog">
  </a>
</div>
