@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  margin: 0;
}

.article__code {
  padding: 5%;
  background-color: #18191c;
  color: #ffffff;
  text-align: center;
  font-family: "Roboto", sans-serif;
}

a {
  font-size: 24px;
  color: #ffffff;
  text-decoration-color: #ed6742;
}
