@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

/* Задаём межбуквенное расстояние разными способами */
.normal {
  letter-spacing: normal;
}
.em-wide {
  letter-spacing: 0.4em;
}
.em-wider {
  letter-spacing: 1em;
}
.em-tight {
  letter-spacing: -0.05em;
}
.px-wide {
  letter-spacing: 6px;
}

/* Оформление */
body {
  padding: 5%;
  background-color: #064236;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  margin: 0;
}
