<ul tabindex="-1">
  {%- for jsLong in collections.jsLong -%}
    <li>
        <a href="/posts/{{ jsLong.data.section }}/{{ jsLong.data.type }}/{{ jsLong.data.name }}">
          {{ jsLong.data.title }}
        </a>
    </li>
  {%- endfor -%}
</ul>
