@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,400;1,500&display=swap");

body {
  margin: 0;
}

.article__code {
  padding: 5%;
  background-color: #18191c;
}

h1 {
  font-size: 150%;
  font-family: Roboto, Arial, sans-serif;
  color: #ffd829;
}
