<ul tabindex="-1">
  {%- for cssDoka in collections.cssDoka -%}
    <li>
        <a href="/posts/{{ cssDoka.data.section }}/{{ cssDoka.data.type }}/{{ cssDoka.data.name }}" class="aside__link">
          {{ cssDoka.data.title }}
        </a>
    </li>
  {%- endfor -%}
</ul>
