<ul>
  {%- for cssDoka in collections.cssDoka -%}
    <a href="/posts/{{ cssDoka.data.section }}/{{ cssDoka.data.type }}/{{ cssDoka.data.name }}">
      <li>{{ cssDoka.data.title }}</li>
    </a>
  {%- endfor -%}
</ul>
