<style>
  {% include './index.css' %}
</style>

<div id="promise-chain-demo">
    <div id="promise-chain-demo-fetch">fetch(...)</div>
    <div id="promise-chain"></div>
</div>

<script>
  {% include './index.js' %}
</script>

