@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  margin: 0;
  padding: 5%;
  background-color: #18191c;
  font-family: "Roboto", sans-serif;
}

.parent {
  color: #49a16c;
  padding: 20px 0;
  border-top: 1px solid currentColor;
  border-bottom: 1px solid currentColor;
}

.child {
  background: currentColor;
  height: 110px;
  margin: 20px 0;
}
