<style>
  {% include './index.css' %}
</style>

  <div class="parent">
    Мы сделали этот текст зелёным с помощью свойства «color». Рамки блока наследуют цвет от текста.
    <div class="child"></div>
    Блок выше 👆 тоже наследует фоновый цвет от текста, для которого задано свойство «color».
  </div>
