@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

.article__code * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.article__code {
  margin: 0;
  padding: 5%;
  background-color: #18191c;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
}

.article__code pre {
  font-family: "Roboto Mono";
  white-space: pre-wrap;
  background-color: #18191c;
  color: #ffffff;
}

.article__code h2 {
  font-size: 22px;
  font-weight: 500;
  margin-top: 35px;
  margin-bottom: 10px;
}

.article__code h2:first-child {
  margin-top: 0;
}

.article__code .header-container {
  margin-top: 10px;
  margin-bottom: 45px;
}

.article__code .header-container pre,
.article__code .does-container pre {
  padding: 15px 0;
  border-bottom: 1px solid #5e6064;
}

.article__code .does-container {
  display: flex;
  align-items: flex-end;
}

.does-container + .does-container {
  margin-top: 20px;
}

.does-container pre {
  margin-left: 15px;
  flex-grow: 1;
}

.article__code .button {
  min-width: 200px;
  border: 1px solid;
  padding: 10px;
  vertical-align: middle;
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
}

.article__code .button:hover {
  border: 1px solid #ffffff;
  color: #ffffff;
  background-color: #18191c;
  cursor: pointer;
}

.article__code .button:focus {
  outline: 1px solid #ffffff;
}

.article__code .green {
  background-color: #49a16c;
  border-color: #49a16c;
}

.article__code .green:hover {
  border-color: #49a16c;
}

.article__code .blue {
  background-color: #1a5ad7;
  border-color: #1a5ad7;
}

.article__code .blue:hover {
  border-color: #0882ff;
}

.article__code .items {
  display: flex;
  min-height: 42px;
}

.article__code .item {
  width: 50px;
  height: 32px;
  border: 1px solid #ffffff;
  color: #ffffff;
  text-align: center;
  line-height: 30px;
}

.article__code .item + .item {
  margin-left: 10px;
}

.article__code .active {
  border-color: #ffd829;
  background-color: #ffd829;
  color: #ffffff;
}

.article__code .execute {
  min-height: 57px;
  padding: 15px 0;
  border-bottom: 1px solid #5e6064;
}
