* {
  margin: 0;
  padding: 0;
}

.element {
  height: 100vh;
  background-image: url("/assets/images/posts/background-repeat/pattern.png");
  background-color: #49a16c;
  background-size: 64px auto;
  background-repeat: repeat-x;
}
