<style>
  {% include './index.css' %}
</style>

<div class="article__code">
  <header>
    <h1>Ольга Данилюк</h1>
  </header>
  <article>
    <h2>Добро пожаловать!</h2>
    <p>Рада приветствовать вас на своем сайте.</p>
  </article>
  <footer>
    Copyright Ольга Данилюк
  </footer>
</div>
