<style>
  {% include './all.css' %}
</style>

<ul class="style-list">
  <li class="style-list__item">
    <input id="dotted" type="radio" name="style">
    <label for="dotted">
      dotted
    </label>
  </li>
  <li class="style-list__item">
    <input id="dashed" type="radio" name="style">
    <label for="dashed">
      dashed
    </label>
  </li>
  <li class="style-list__item">
    <input id="solid" type="radio" name="style" checked>
    <label for="solid">
      solid
    </label>
  </li>
  <li class="style-list__item">
    <input id="double" type="radio" name="style">
    <label for="double">
      double
    </label>
  </li>
  <li class="style-list__item">
    <input id="groove" type="radio" name="style">
    <label for="groove">
      groove
    </label>
  </li>
  <li class="style-list__item">
    <input id="ridge" type="radio" name="style">
    <label for="ridge">
      ridge
    </label>
  </li>
  <li class="style-list__item">
    <input id="inset" type="radio" name="style">
    <label for="inset">
      inset
    </label>
  </li>
  <li class="style-list__item">
    <input id="outset" type="radio" name="style">
    <label for="outset">
      outset
    </label>
  </li>
</ul>

<div class="element">
  <p>Повседневная практика показывает, что дальнейшее развитие различных форм деятельности в значительной степени обуславливает создание направлений прогрессивного развития. Не следует, однако забывать, что дальнейшее развитие различных форм деятельности позволяет оценить значение дальнейших направлений развития.</p>
</div>

<script>
  {% include './all.js' %}
</script>
