<style>
  {% include './index.css' %}
</style>

<div class="box green">
  <h1>Тут мы задали интервал с помощью числа 1.2</h1>
  Оно умножается на размер шрифта этого же элемента. Это удобно и предсказуемо.
</div>

<div class="box blue">
  <h1>А здесь мы ввели 1.2em</h1>
  Это значит, что 1.2 умножается на размер шрифта родительского элемента, в нашем случае &#60;div&#62;, а не на размер заголовка. Это вносит путаницу.
</div>
