<style>
  {% include './index.css' %}
</style>

<div class="article__code">
<img class="fit-picture"
    src="https://y-doka.site/assets/images/posts/a/dogs.png"
    alt="doka mainpage dog" />
</div>
