<style>
  {% include './index.css' %}
</style>

<div class="wrapper">
  <p class="text">Если вам скажут, что коты не любят своих хозяев, не верьте! Многим кошкам не нравится, что их хозяева перестали выходить из дома: они недовольно пищат, мяукают и всячески намекают, что пора бы и за порог. Но не все коты такие!</p>

  <div class="news-card">
    <h2 class="news-card__title">Все новости должны быть такими</h2>
    <p class="text news-card__text">У пингвинов, живущих в Московском зоопарке, появилось пять ужасно смешных пингвинят. Малыши ловко маскируются под камни, благодаря серому пуху, которым покрыты их тела.</p>
  </div>
</div>
