@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  background-color: #18191c;
  font-family: Roboto, sans-serif;
}

.parent {
  box-sizing: border-box;
  width: 80%;
  margin: 0 auto;
  padding: 25px;
  text-align: justify;
}

.child {
  box-sizing: border-box;
  display: inline-block;
  width: 125px;
  height: 125px;
  padding: 25px;
  text-align: center;
  font-size: 75px;
  line-height: 75px;
  font-weight: bold;
}

.child:first-child {
  background-color: #49a16c;
}

.child:nth-child(2) {
  background-color: #f498ad;
}

.child:last-child {
  background-color: #ffd829;
}
