<style>
  {% include './index.css' %}
</style>

<div class="left">
  <div class="content">Выравнивание по левому краю</div>
</div>
<div class="center">
  <div class="content">Выравнивание по центру</div>
</div>
<div class="right">
  <div class="content">Выравнивание по правому краю</div>
</div>
