<style>
  {% include './company.css' %}
</style>

<div class="article__code">
  <header class="header">
      <h1 class="header__title">We are <span class="header__title-accent header__title-accent_color">the best</span> <span class="header__title-accent">company</span></h1>
  </header>
</div>
