<style>
  {% include './show.css' %}
</style>

<div class="article__code">
<p class="quote__text">
  <span class="quote__text-letter">Р</span>азумные люди приспосабливаются к окружающему
  миру. Неразумные люди приспосабливают мир к себе. Вот почему прогресс
  определяется действиями неразумных людей.
</p>
<p class="quote__author">Бернард Шоу</p>
</div>
