<style>
  {% include './index.css' %}
</style>

<h1>Шрифт этого заголовка — жирный. Мы задали его с помощью ключевого слова bold. В цифровом значении он равен 700 единицам.</h1>

<p> Это текст стандартной толщины внутри контейнера &lt;p&gt;. Он эквивалентен 400 единицам толщины.</p>

<div>
  Это текст внутри контейнера &lt;div&gt; — и он чуть толще, чем стандартный normal, но тоньше, чем bold. Мы задали его насыщенность с помощью значения 500.<br />
  <span>В контейнере &lt;span&gt; шрифт тоньше, чем в &lt;div&gt;, внутри которого он находится. Его мы задали с помощью значения lighter.</span>
</div>
