<button class="footer__arrow-btn aside__arrow-btn" title="Скрыть боковую навигацию">
  <picture>
    <source srcset="/assets/images/arrow/aside-arrow.svg" type="image/svg+xml">
    <img
      alt="Яндекс.Дока (beta)"
      srcset="/assets/images/arrow/aside-arrow@2x.png 2x, /assets/images/arrow/aside-arrow.png 1x"
      src="/assets/images/arrow/aside-arrow.png"
      class="aside__arrow" />
  </picture>
</button>
