<picture>
  <source srcset="/assets/images/logo/logo.svg" type="image/svg+xml">
  <img
    alt="Дока (beta)"
    srcset="/assets/images/logo/logo@2x.png 2x, /assets/images/logo/logo.png 1x"
    src="/assets/images/logo/logo.png"
    class="logo" />
</picture>
