<style>
  {% include './index.css' %}
</style>

<div class="article__code">
  <blockquote class="quote">
    <p>Ваша работа заполнит большую часть жизни и&nbsp;единственный способ быть полностью довольным&nbsp;&mdash; делать&nbsp;то, что по-вашему является великим делом. И&nbsp;единственный способ делать великие дела&nbsp;&mdash; любить&nbsp;то, что вы&nbsp;делаете.</p>
  </blockquote>
</div>
