<style>
  {% include './index.css' %}
</style>

<div class="article__code">
  <p>Эта песня заиграет автоматически, но без звука:</p>
  <audio controls autoplay muted>
    <source src="../../../assets/audio/posts/audio/audio.opus" type="audio/ogg; codecs=opus" />
    <source src="../../../assets/audio/posts/audio/audio.ogg" type="audio/ogg; codecs=vorbis" />
    <source src="../../../assets/audio/posts/audio/audio.mp3" type="audio/mpeg" />
    Ваш браузер не поддерживает встроенные аудио.
    Попробуйте <a href="../../../assets/audio/posts/audio/audio.mp3">скачать</a> файл.
  </audio>
  <p class="license"><a href="https://siddharthamusic.bandcamp.com/">Siddhartha Corsus</a> — Big Blessings<br><a href="https://creativecommons.org/licenses/by-nc/4.0/legalcode.ru">Публичная лицензия Creative Commons</a></p>
</div>
