@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.block {
  width: 50%;
  margin: 0 auto;
  color: white;
  background-color: #ed6742;
}

body {
  margin: 0;
  padding: 5%;
  background-color: #18191c;
  font-family: "Roboto", sans-serif;
}
