<style>
  {% include './default.css' %}
</style>

<div class="block">
    Я — блочный элемент!
</div>
<div class="inline-block">
    Я
</div>
<div class="inline-block">
    строчно-блочный
</div>
<div class="inline-block">
    элемент!
</div>
