<style>
  {% include './icon.css' %}
</style>

<div class="card">
    <i class="card__icon"></i> <!-- Внимание на меня! -->
    <h2 class="card__title">Заголовок карточки</h2>
    <p class="card__text">Некий текст новостной карточки</p>
</div>
