<style>
  {% include './text.css' %}
</style>

<div class="card">
  <i class="card__icon"></i>
  <h2 class="card__title">Want to Become an Agent?</h2>
  <p class="card__text">Get the official status of an agent in the projectname and earn with us.</p>
</div>
