<style>
  {% include './check.css' %}
</style>

<div class="input-row">
  <label>
    <input type="checkbox">
    <span class="input-text">
      Чекбокс (нажми!)
    </span>
  </label>
</div>

<div class="input-row">
  <label>
    <input type="radio" name="radio">
    <input type="radio" name="radio">
    <span class="input-text">
      Радио-кнопки (нажми!)
    </span>
  </label>
</div>

<div class="input-row">
  <label>
    <select name="select">
      <option value="Лондон">Лондон</option>
      <option value="Псков">Псков</option>
      <option value="Нью-Йорк">Нью-Йорк</option>
    </select>
    <span class="select-text">
      Выпадающий список (выбери 😉)
    </span>
  </label>
</div>
