<style>
  {% include './choose.css' %}
</style>

<div class="dropdown">
  <input type="checkbox" id="menu">
  <label for="menu">Выбери меня</label>
  <ul>
    <li><a href="#">Леонардо</a></li>
    <li><a href="#">Рафаэль</a></li>
    <li><a href="#">Донателло</a></li>
    <li><a href="#">Микеланджело</a></li>
  </ul>
</div>
