---
layout: no-aside
permalink: /about/
eleventyNavigation:
  key: About
---

<div class="container">
  <h2>Что такое Дока</h2>
  <p>
    Дока&nbsp;&mdash; это место, в котором мы с огоньком перекапываем документацию по веб-разработке. Наша цель сделать её практичной, понятной и не унылой.
  </p>
  <p>
    Пока что в Доке есть три раздела: <a href="/posts/html/" target="_blank">HTML</a>, <a href="/posts/css/" target="_blank">CSS</a> и <a href="/posts/js/" target="_blank">JavaScript + Инфраструктура</a>. Все материалы делятся на статьи и лонгриды. В первых можно найти быстрое руководство к действию, во вторых&nbsp;&mdash; занырнуть в целую область разработки и понять её заново.</a>
  </p>
  <p>
    Да, наш маскот&nbsp;&mdash; это енотособака.
  </p>
  <h2>Чем вы можете помочь</h2>
  <ul>
    <li>Прочитайте <a href="http://contributing.md" target="_blank">Contributing.md</a>. Предлагайте правки для статей через пул-реквесты, мы будем своевременно ревьюить их и раздавать бейджи самым активным контрибьюторам.</li>
    <li>Загляните в <a href="https://github.com/Y-Doka/y-doka.site/issues" target="_blank">раздел Issues</a>, чтобы ознакомиться со списком актуальных задач. Там есть, как задачи для новичков, так и реальные фичи для сайта, которые мы можем делать сообща.</li>
    <li>Пишите статьи и предлагайте новые темы. Ждем ваших идей и обещаем познакомить вас с командой Доки. Мы всегда открыты новым авторам.</li>
    <li>Если вы уже читаете Доку, ставьте лайки и дизы&nbsp;&mdash; оставляйте подробные комментарии через форму обратной связи после каждой статьи. Команда авторов будет регулярно их просматривать и брать в работу.</li>
    <li>Просто <a href="mailto:feedback@y-doka.site">напишите нам</a>.</li>
  </ul>
  <h2>Планы на год</h2>
  <h3>Q1</h3>
  <ul>
    <li>Получить фидбек на материалы Доки и совместно улучшать контент</li>
    <li>Начать совместную работу над сайтом Доки</li>
  </ul>
  <h3>Q2</h3>
  <ul>
    <li>Сформировать сообщество первых контрибьюторов Доки</li>
    <li>Создать систему бейджей и поощрений</li>
  </ul>
  <h3>Q3</h3>
  <ul>
    <li>Добавить задачи в материалы Доки, чтобы пользователи могли закрепить свои знания</li>
    <li>Организовать первые онлайн-митапы Доки</li>
  </ul>
  <h3>Q4</h3>
  <ul>
    <li>Создать тестирование, которое позволит оценить уровень веб-разработки и найти пробелы</li>
  </ul>
</div>
