---
layout: no-aside
permalink: /about/
eleventyNavigation:
  key: About
---

<div class="container">
  <h1>О проекте</h1>
  <p>ДОКА&nbsp;&mdash; это бесплатная энциклопедия веб-разработчиков на русском языке. Пожалуйста, загляните к нам к нам <a href="https://github.com/Y-Doka/y-doka.site" target="_blank" rel="noopener noreferrer">на GitHub</a>, чтобы узнать больше или внести свой вклад в развитие проекта.</p>
</div>
