---
layout: no-aside
permalink: /posts/css/long/
eleventyNavigation:
  key: cssLong
---

<div class="container">
  <div style="display:flex;justify-content:space-between;">
    <div style="max-width:30%">
      <h2>CSS</h2>
      <h3>Лонгриды</h3>
      <ul>
        {%- for cssLong in collections.cssLong -%}
        <a href="/posts/{{ cssLong.data.section }}/{{ cssLong.data.type }}/{{ cssLong.data.name }}">
          <li>{{ cssLong.data.title }}</li>
        </a>
        {%- endfor -%}
      </ul>
    </div>
  </div>
</div>
