---
layout: no-aside
permalink: /posts/html/
eleventyNavigation:
  key: HTML
---

<div class="container">
  <div style="display:flex;justify-content:space-between;">
    <h2>HTML</h2>
    <div style="max-width:30%">      
      <h3>Справочник</h3>
      <ul>
        {%- for htmlDoka in collections.htmlDoka -%}
        <a href="/posts/{{ htmlDoka.data.section }}/{{ htmlDoka.data.type }}/{{ htmlDoka.data.name }}">
          <li>{{ htmlDoka.data.title }}</li>
        </a>
        {%- endfor -%}
      </ul>
    </div>
    <div style="max-width:30%">
      <h3>Лонгриды</h3>
      <ul>
        {%- for htmlLong in collections.htmlLong -%}
        <a href="/posts/{{ htmlLong.data.section }}/{{ htmlLong.data.type }}/{{ htmlLong.data.name }}">
          <li>{{ htmlLong.data.title }}</li>
        </a>
        {%- endfor -%}
      </ul>
    </div>
  </div>
</div>
