---
layout: no-aside
permalink: /posts/
eleventyNavigation:
  key: Posts
---

<div class="container">
  <div style="display:flex;justify-content:space-between;">
    <div style="max-width:30%">
      <h2>HTML</h2>
      <h3>Справочник</h3>
      <ul>
        {%- for htmlDoka in collections.htmlDoka -%}
        <a href="/posts/{{ htmlDoka.data.section }}/{{ htmlDoka.data.type }}/{{ htmlDoka.data.name }}">
          <li>{{ htmlDoka.data.title }}</li>
        </a>
        {%- endfor -%}
      </ul>
      <h3>Лонгриды</h3>
      <ul>
        {%- for htmlLong in collections.htmlLong -%}
        <a href="/posts/{{ htmlLong.data.section }}/{{ htmlLong.data.type }}/{{ htmlLong.data.name }}">
          <li>{{ htmlLong.data.title }}</li>
        </a>
        {%- endfor -%}
      </ul>
    </div>
    <div style="max-width:30%">
      <h2>CSS</h2>
      <h3>Справочник</h3>
      <ul>
        {%- for cssDoka in collections.cssDoka -%}
        <a href="/posts/{{ cssDoka.data.section }}/{{ cssDoka.data.type }}/{{ cssDoka.data.name }}">
          <li>{{ cssDoka.data.title }}</li>
        </a>
        {%- endfor -%}
      </ul>
      <h3>Лонгриды</h3>
      <ul>
        {%- for cssLong in collections.cssLong -%}
        <a href="/posts/{{ cssLong.data.section }}/{{ cssLong.data.type }}/{{ cssLong.data.name }}">
          <li>{{ cssLong.data.title }}</li>
        </a>
        {%- endfor -%}
      </ul>
    </div>
    <div style="max-width:30%">
      <h2>JavaScript</h2>
      <h3>Справочник</h3>
      <ul>
        {%- for jsDoka in collections.jsDoka -%}
        <a href="/posts/{{ jsDoka.data.section }}/{{ jsDoka.data.type }}/{{ jsDoka.data.name }}">
          <li>{{ jsDoka.data.title }}</li>
        </a>
        {%- endfor -%}
      </ul>
      <h3>Лонгриды</h3>
      <ul>
        {%- for jsLong in collections.jsLong -%}
        <a href="/posts/{{ jsLong.data.section }}/{{ jsLong.data.type }}/{{ jsLong.data.name }}">
          <li>{{ jsLong.data.title }}</li>
        </a>
        {%- endfor -%}
      </ul>
    </div>
  </div>
</div>
