<style>
  {% include './all.css' %}
</style>

<h2 class="title">Наведи курсор на кнопки</h2>
<div class="parent">
  <button class="btn auto">auto</button>
  <button class="btn default">default</button>
  <button class="btn none">none</button>
  <button class="btn pointer">pointer</button>
  <button class="btn text">text</button>
  <button class="btn context-menu">context-menu</button>
  <button class="btn help">help</button>
  <button class="btn progress">progress</button>
  <button class="btn wait">wait</button>
  <button class="btn cell">cell</button>
  <button class="btn crosshair">crosshair</button>
  <button class="btn vertical-text">vertical-text</button>
  <button class="btn alias">alias</button>
  <button class="btn copy">copy</button>
  <button class="btn move">move</button>
  <button class="btn no-drop">no-drop</button>
  <button class="btn not-allowed">not-allowed</button>
  <button class="btn grab">grab</button>
  <button class="btn grabbing">grabbing</button>
  <button class="btn all-scroll">all-scroll</button>
  <button class="btn col-resize">col-resize</button>
  <button class="btn row-resize">row-resize</button>
  <button class="btn zoom-in">zoom-in</button>
  <button class="btn zoom-out">zoom-out</button>
</div>
