<style>
  {% include './cat.css' %}
</style>

<article>
  <h2>Карельский язык</h2>
  <div>
    <p>Как карельский язык прошёл путь от берестяных грамот до караоке, почему самая востребованная книга это словарь, кого можно ёйгать и почему «собака» превратилась в «поросячий хвостик»?</p>
  </div>
</article>
