<style>
  {% include './index.css' %}
</style>

<div class="article__code">
  <nav class="crumbs">
      <ol>
          <li class="crumb"><a href="bikes">Велосипеды</a></li><li class="crumb"><a href="bikes/bmx">BMX</a></li><li class="crumb">Jump Bike 3000</li>
      </ol>
  </nav>

  <h1>Jump Bike 3000</h1>
  <p>Отличный вариант для профессионалов. С ним вы отточите свои навыки.</p>
</div>
