<style>
  {% include './form.css' %}
</style>

<form class="form">
  <label>
    Email:
    <input class="input" type="text" placeholder="Введите ваш email">
  </label>
  <button class="submit">Подписаться</button>
</form>
