<style>
  {% include './shadow.css' %}
</style>

<div class="parent">
  Чем отличается маркер от текстовыделителя? <span class="bkg">Текстовыделительные маркеры заправляются флуоресцентными полупрозрачными чернилами. Они не покрывают поверхность бумаги плотным слоем, не пропускающим свет, как это делают обычные маркеры на водной или спиртовой основе.</span>
</div>
