<style>
  {% include './types.css' %}
</style>

<div class="parent">
  <p class="block">Розовый — цвет, образующийся при смешивании красного и белого. Несмотря на широкое употребление слова, точный оттенок установить трудно; например, в английском языке используется два слова для существенно различных оттенков розового: Rose (более красный оттенок) и Pink («маргаритковый»).</p>

  <span class="inline">Жёлтый — самый лёгкий и яркий цвет в спектре. Психологи называют жёлтый тонизирующим и «ободряющим» цветом, который стимулирующе воздействует на умственную жизнь человека. В Российской империи до 1917 года в этот цвет выкрашивали государственные здания. «Жёлтым домом» в целом называли психиатрические больницы (например, «Горе от ума» А. С. Грибоедова, Явление 16: «Загорецкий: „Схватили, в жёлтый дом, и на цепь посадили“».</span>

  <div class="inline-block">Зелёный цвет широко распространён в живой природе. Большинство растений имеют зелёный цвет, так как содержат пигмент фотосинтеза — хлорофилл (хлорофилл поглощает большую долю красных лучей из солнечного спектра, оставляя для восприятия отражённый и отфильтрованный зелёный цвет).</div>
</div>
