<style>
  {% include './index.css' %}
</style>

<div class="article__code">
<form action="">
  <div class="form-row">
    <label for="phone">Ваш телефон:</label>
    <input type="tel" name="phone" id="phone" class="input">
  </div>
  <div class="form-row">
    <label>
      <input type="checkbox" name="agree" class="checkbox"> Согласен на обработку данных
    </label>
  </div>
</form>
</div>
