<aside id="aside" class="aside">
  <a href="/" class="aside__logo aside__logo_show">
    {% include "../ui/logo.njk" %}
  </a>
  <section class="aside__elements">
    <div class="aside__search">
      {% include "../search.njk" %}
    </div>
    <nav class="aside__navigation">
      <details class="aside__item aside__html">
        <summary class="aside__block-title aside__block-title_html">HTML</summary>
        {% if collections.htmlLong | length %}
        <details class="aside__subitem aside__html-long aside__long">
          <summary>Лонгриды</summary>
          {% include "../postlists/html/long.njk" %}
        </details>
        {% endif %}
        <div class="aside__subitem aside__html-doka aside__doka">
          {% include "../postlists/html/doka.njk" %}
        </div>
      </details>
      <details class="aside__item aside__css">
        <summary class="aside__block-title aside__block-title_css">CSS</summary>
        {% if collections.cssLong | length %}
        <details class="aside__subitem aside__css-long aside__long">
          <summary>Лонгриды</summary>
          {% include "../postlists/css/long.njk" %}
        </details>
        {% endif %}
        <div class="aside__subitem aside__css-doka aside__doka">
          {% include "../postlists/css/doka.njk" %}
        </div>
      </details>
      <details class="aside__item aside__js">
        <summary class="aside__block-title aside__block-title_js">JavaScript</summary>
        {% if collections.jsLong | length %}
        <details class="aside__subitem aside__js-long aside__long">
          <summary>Лонгриды</summary>
          {% include "../postlists/js/long.njk" %}
        </details>
        {% endif %}
        {% if collections.jsTools | length %}
        <details class="aside__subitem aside__js-tools aside__tools">
          <summary>Инструменты</summary>
          {% include "../postlists/js/tools.njk" %}
        </details>
        {% endif %}
        <div class="aside__subitem aside__js-doka aside__doka">
          {% include "../postlists/js/doka.njk" %}
        </div>
      </nav>
    </section>
    <div class="aside__footer">
      {% include "../footer/footer.njk" %}
    </div>
  </aside>
