@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,500;0,700;0,900;1,100;1,400;1,500;1,700;1,900&amp;display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

body {
  padding: 5%;
  background-color: #f498ad;
}

article {
  padding: 10%;
  background-color: #ffffff;
  color: #282a2e;
}

h1 {
  font-size: 26px;
  font-weight: 500;
  line-height: 1;
  margin-bottom: 40px;
}

p {
  font-size: 16px;
  line-height: 1.4;
}

p + p {
  margin-top: 10px;
}

.accent::before,
.accent::after {
  content: "🌸";
  vertical-align: middle;
  font-size: 0.6em;
}

.accent::before {
  margin-right: 0.1em;
}

.accent::after {
  margin-left: 0.1em;
}

.author {
  padding: 10px 0;
  margin-top: 20px;
  border-top: 1px solid #f498ad;
  font-style: italic;
  font-size: 14px;
}
