<style>
  {% include './word.css' %}
</style>

<article>
<h1>«Все берут в горсть и нюхают: ааа… гру-шовка!»: вспоминаем, как писали об <span class="accent">ароматах</span> классики</h1>
<p>«Все кидаются в лопухи, в крапиву. Вязкий, вялый какой-то запах от лопухов, и пронзительно едкий — от крапивы, мешаются со сладким духом, необычайно тонким, как где-то пролитые духи, — от яблок. Ползают все, даже грузный Василь-Василич, у которого лопнула на спине жилетка, и видно розовую рубаху лодочкой; даже и толстый Трифоныч, весь в муке. Все берут в горсть и нюхают: ааа... гру-шовка!..»</p>
<p class="author">«Лето Господне», Иван Шмелев</p>
</article>
