---
layout: nav-page
permalink: /posts/css/doka/
eleventyNavigation:
  key: cssDoka
---

<div class="container">
  <h2 class="navpage__title">CSS</h2>
  <h3 class="navpage__subtitle">Справочник</h3>
  <div class="navpage__block">
    <div class="navpage__column">
      <ul class="navpage__list">
        {%- for cssDoka in collections.cssDoka -%}
        <a href="/posts/{{ cssDoka.data.section }}/{{ cssDoka.data.type }}/{{ cssDoka.data.name }}">
          <li class="navpage__list-item">{{ cssDoka.data.title }}</li>
        </a>
        {%- endfor -%}
      </ul>
    </div>
  </div>
</div>
