---
layout: nav-page
permalink: /css/long/
eleventyNavigation:
  key: cssLong
---

<div class="container">
  <h2 class="navpage__title">CSS</h2>
  <h3 class="navpage__subtitle">Лонгриды</h3>
  <div class="navpage__block">
    <div class="navpage__column">
      <ul class="navpage__list">
        {%- for cssLong in collections.cssLong -%}
        <a href="/{{ cssLong.data.section }}/{{ cssLong.data.type }}/{{ cssLong.data.name }}">
          <li class="navpage__list-item">{{ cssLong.data.title }}</li>
        </a>
        {%- endfor -%}
      </ul>
    </div>
  </div>
</div>
