---
layout: nav-page
permalink: /html/doka/
eleventyNavigation:
  key: htmlDoka
---

<div class="container">
  <h2 class="navpage__title">HTML</h2>
  <h3 class="navpage__subtitle">Справочник</h3>
  <div class="navpage__block">
    <div class="navpage__column">
      <ul class="navpage__list">
        {%- for htmlDoka in collections.htmlDoka -%}
        <a href="/{{ htmlDoka.data.section }}/{{ htmlDoka.data.type }}/{{ htmlDoka.data.name }}">
          <li class="navpage__list-item">{{ htmlDoka.data.title }}</li>
        </a>
        {%- endfor -%}
      </ul>
    </div>
  </div>
</div>
