---
layout: nav-page
permalink: /posts/html/long/
eleventyNavigation:
  key: htmlLong
---

<div class="container">
  <h2 class="navpage__title">HTML</h2>
  <h3 class="navpage__subtitle">Лонгриды</h3>
  <div class="navpage__block">
    <div class="navpage__column">
      <ul class="navpage__list">
        {%- for htmlLong in collections.htmlLong -%}
        <a href="/posts/{{ htmlLong.data.section }}/{{ htmlLong.data.type }}/{{ htmlLong.data.name }}">
          <li class="navpage__list-item">{{ htmlLong.data.title }}</li>
        </a>
        {%- endfor -%}
      </ul>
    </div>
  </div>
</div>
