---
layout: nav-page
permalink: /js/doka/
eleventyNavigation:
  key: jsDoka
---

<div class="container">
  <h2 class="navpage__title">JavaScript</h2>
  <h3 class="navpage__subtitle">Справочник</h3>
  <div class="navpage__block">
    <div class="navpage__column">
      <ul class="navpage__list">
        {%- for jsDoka in collections.jsDoka -%}
        <a href="/{{ jsDoka.data.section }}/{{ jsDoka.data.type }}/{{ jsDoka.data.name }}">
          <li class="navpage__list-item">{{ jsDoka.data.title }}</li>
        </a>
        {%- endfor -%}
      </ul>
    </div>
  </div>
</div>
