---
layout: nav-page
permalink: /js/long/
eleventyNavigation:
  key: jsLong
---

<div class="container">
  <h2 class="navpage__title">JavaScript</h2>
  <h3 class="navpage__subtitle">Лонгриды</h3>
  <div class="navpage__block">
    <div class="navpage__column">
      <ul class="navpage__list">
        {%- for jsLong in collections.jsLong -%}
        <a href="/{{ jsLong.data.section }}/{{ jsLong.data.type }}/{{ jsLong.data.name }}">
          <li class="navpage__list-item">{{ jsLong.data.title }}</li>
        </a>
        {%- endfor -%}
      </ul>
    </div>
  </div>
</div>
