---
layout: nav-page
permalink: /posts/
eleventyNavigation:
  key: Posts
---

<div class="container">
  <div class="navpage__block">
    <div class="navpage__column">
      <h2 class="navpage__title">HTML</h2>
      <h3 class="navpage__subtitle">Справочник</h3>
      <ul class="navpage__list">
        {%- for htmlDoka in collections.htmlDoka -%}
        <a href="/posts/{{ htmlDoka.data.section }}/{{ htmlDoka.data.type }}/{{ htmlDoka.data.name }}">
          <li class="navpage__list-item">{{ htmlDoka.data.title }}</li>
        </a>
        {%- endfor -%}
      </ul>
      <h3 class="navpage__subtitle">Лонгриды</h3>
      <ul class="navpage__list">
        {%- for htmlLong in collections.htmlLong -%}
        <a href="/posts/{{ htmlLong.data.section }}/{{ htmlLong.data.type }}/{{ htmlLong.data.name }}">
          <li class="navpage__list-item">{{ htmlLong.data.title }}</li>
        </a>
        {%- endfor -%}
      </ul>
    </div>
    <div class="navpage__column">
      <h2 class="navpage__title">CSS</h2>
      <h3 class="navpage__subtitle">Справочник</h3>
      <ul class="navpage__list">
        {%- for cssDoka in collections.cssDoka -%}
        <a href="/posts/{{ cssDoka.data.section }}/{{ cssDoka.data.type }}/{{ cssDoka.data.name }}">
          <li class="navpage__list-item">{{ cssDoka.data.title }}</li>
        </a>
        {%- endfor -%}
      </ul>
      <h3 class="navpage__subtitle">Лонгриды</h3>
      <ul class="navpage__list">
        {%- for cssLong in collections.cssLong -%}
        <a href="/posts/{{ cssLong.data.section }}/{{ cssLong.data.type }}/{{ cssLong.data.name }}">
          <li class="navpage__list-item">{{ cssLong.data.title }}</li>
        </a>
        {%- endfor -%}
      </ul>
    </div>
    <div class="navpage__column">
      <h2 class="navpage__title">JavaScript</h2>
      <h3>Справочник</h3>
      <ul class="navpage__list">
        {%- for jsDoka in collections.jsDoka -%}
        <a href="/posts/{{ jsDoka.data.section }}/{{ jsDoka.data.type }}/{{ jsDoka.data.name }}">
          <li class="navpage__list-item">{{ jsDoka.data.title }}</li>
        </a>
        {%- endfor -%}
      </ul>
      <h3>Лонгриды</h3>
      <ul class="navpage__list">
        {%- for jsLong in collections.jsLong -%}
        <a href="/posts/{{ jsLong.data.section }}/{{ jsLong.data.type }}/{{ jsLong.data.name }}">
          <li class="navpage__list-item">{{ jsLong.data.title }}</li>
        </a>
        {%- endfor -%}
      </ul>
      <h3>Инструменты</h3>
      <ul class="navpage__list">
        {%- for postInTools in collections.jsTools -%}
        <a href="/posts/{{ postInTools.data.section }}/{{ postInTools.data.type }}/{{ postInTools.data.name }}">
          <li class="navpage__list-item">{{ postInTools.data.title }}</li>
        </a>
        {%- endfor -%}
      </ul>
    </div>
  </div>
</div>
