<style>
  {% include './em.css' %}
</style>

<div class="parent">
  Размер этого текста в 1.5 раза больше, чем стандартный размер вашего браузера,
  <span class="child">
    а этот текст в 1.5 раза больше, чем в родительском контейнере.
  </span>
</div>
