@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

/* Задаём для <span> размер шрифта в единице rem, зависящей не от родительского элемента, а от размера шрифта на странице */
span {
  font-size: 2rem;
}

/* Оформление */
body {
  padding: 5%;
  background-color: #18191c;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
}

span span {
  background-color: #ed6742;
}
