<style>
  {% include './index.css' %}
</style>

<h1>Подключение скриптов</h1>
<p id="blinking">Скрипты можно подключить разными способами. Например, описать их прямо внутри HTML-страницы. Но лучше всё же в отдельном файле.</p>

<script>
  {% include './index.js' %}
</script>
