@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,400;1,500&display=swap");

body {
  margin: 0;
  padding: 5%;
  background-color: #ffd829;
  color: #000000;
  font-family: "Roboto", sans-serif;
}

h1 {
  font-size: 26px;
  font-weight: 500;
}
