<style>
  {% include './cols.css' %}
</style>

<div class="article__code">
<form action="">
  <label for="story">Ширина ~20 знаков</label>
  <textarea id="story" name="story" rows="5" cols="20">
12345678901234567890
</textarea>
</form>
<form action="">
  <label for="story">Ширина ~30 знаков</label>
  <textarea id="story" name="story" rows="5" cols="30">
123456789012345678901234567890
</textarea>
</form>
</div>
