<style>
  {% include './max.css' %}
</style>

<div class="article__code">
<form action="">
  <label for="story">Расскажите о себе:</label>
  <textarea id="story" name="story" rows="5" cols="33" maxlength="30">Можно ввести ещё 4 символа</textarea>
</form>
</div>
