<style>
  {% include './placeholder.css' %}
</style>

<div class="article__code">
<form action="">
  <label for="story">Расскажите о себе:</label>
  <textarea id="story" name="story" rows="5" cols="33" placeholder="- представьтесь
- опишите свой стек
- укажите свой опыт">
</textarea>
</form>
</div>
