<style>
  {% include './rows.css' %}
</style>

<div class="article__code">
<form action="">
  <label for="story">Высота не задана (~ 2 строки)</label>
  <textarea id="story" name="story" cols="30"> Lorem ipsum dolor sit amet consectetur adipisicing elit.</textarea>
</form>
<form action="">
  <label for="story">Высота 5 строк</label>
  <textarea id="story" name="story" rows="5" cols="30">
Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae ducimus numquam illo voluptate, veritatis distinctio minus iure harum a nam magnam?
</textarea>
</form>
</div>
