<ul tabindex="-1">
  {%- for htmlDoka in collections.htmlDoka -%}
    <li>
        <a href="/posts/{{ htmlDoka.data.section }}/{{ htmlDoka.data.type }}/{{ htmlDoka.data.name }}">
          {{ htmlDoka.data.title }}
        </a>
    </li>
  {%- endfor -%}
</ul>
