{%- for htmlLong in collections.htmlLong -%}
  <a href="/posts/{{ htmlLong.data.section }}/{{ htmlLong.data.type }}/{{ htmlLong.data.name }}">
    <li>{{ htmlLong.data.title }}</li>
  </a>
{%- endfor -%}
