<style>
  {% include './index.css' %}
</style>

<div class="article__code">
  <div class="container">
    <p>Привет, мы запихали текст в &#60;div&#62;, а сам контейнер покрасили в серый.</p>
  </div>
</div>
