<style>
  {% include './index.css' %}
</style>

<div class="demo-body">
  <div class="demo-container">
    <div class="form">
      <input type="text" id="newGuest" placeholder="Введите имя" class="input"/>
      <button id="add" class="button green">Пропустить гостя</button>
    </div>
    <div class="text-container">
      <h3>Пришедшие гости:</h3>
      <p id="empty-list">Никто еще не пришел</p>
      <ul>
      </ul>
      <p id="police" class="hide lie">Лжец! Этот гость уже зашел! Мы вызываем полицию!</p>
    </div>
  </div>
</div>

<script>
  {% include './index.js' %}
</script>

