<style>
  {% include './index.css' %}
</style>

<div class="parent">
  <p class="some-text">Я — текст простой. Наведи на меня курсор и я покажу подсказку! <span class="note">Теперь ты читаешь скрытую подсказку! 🎉</span></p>
</div>
