.article__code * {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

.article__code {
  padding: 5%;
  background-color: #18191c;
}

.article__code h3 {
  padding-bottom: 11px;
  border-bottom: 1px solid rgba(24, 25, 28, 0.3);
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
}

.article__code ul {
  list-style: none;
}

.article__code p,
.article__code ul {
  margin-top: 11px;
}

.article__code li + li {
  margin-top: 11px;
}

.article__code .container {
  padding: 25px;
}

.article__code .text-container {
  min-width: 500px;
  min-height: 145px;
  margin-top: 25px;
  padding: 11px 0;
  background-color: #ffffff;
  text-align: center;
}

.article__code .form {
  display: flex;
}

.article__code .input {
  flex-grow: 1;
  padding: 8px 12px;
  background-color: #18191c;
  color: #ffffff;
  border: 1px solid #ffffff;
  font-size: 18px;
  font-weight: 400;
}

.article__code .input::placeholder {
  color: #49a16c;
}

.article__code .input:-internal-autofill-selected {
  -webkit-box-shadow: inset 0 0 0 100px #18191c;
  -webkit-text-fill-color: #ffffff;
  caret-color: #ffffff;
}

.article__code .button {
  margin-left: 17px;
  padding: 10px;
  border: 1px solid;
  vertical-align: middle;
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
}

.article__code .button:hover {
  border: 1px solid #ffffff;
  color: #ffffff;
  background-color: #18191c;
  cursor: pointer;
}

.article__code .button:focus {
  outline: 1px solid #ffffff;
}

.article__code .green {
  background-color: #49a16c;
  border-color: #49a16c;
}

.article__code .green:hover {
  border-color: #49a16c;
}

.article__code .lie {
  color: #ed6742;
  caret-color: #ed6742;
}

.article__code .lie:-internal-autofill-selected {
  -webkit-text-fill-color: #ed6742;
}

.article__code .hide {
  display: none;
}
