<style>
  {% include './withstyle.css' %}
</style>

<div class="article__code">
<section class="news">
  <h1>Последние новости</h1>
  <h2 class="news__local">В Санкт-Петербурге</h2>
  <p>Ветер, по Питерскому обыкновению, дул сразу со всех четырёх сторон.</p>
  <h2 class="news__country">В России</h2>
  <p>«Умом Россию не понять...»</p>
  <h2 class="news__world">В мире</h2>
  <p>На Брайтон Бич опять идут дожди.</p>
</section>
</div>
