---
layout: main
eleventyNavigation:
  key: Home
---

<main class="mainpage__main">
  <form class="mainpage__search mainpage__search_hidden-suggestion" role="search" onsubmit="return false">
    <div class="mainpage__search-item">
      <div class="mainpage__search-togglers">
        <label class="mainpage__search-toggler__label">
          <input type="checkbox" class="mainpage__search-toggler__input">
          <span class="mainpage__search-toggler mainpage__search-toggler_html">HTML</span>
        </label>
        <label class="mainpage__search-toggler__label">
          <input type="checkbox" class="mainpage__search-toggler__input">
          <span class="mainpage__search-toggler mainpage__search-toggler_css">CSS</span>
        </label>
        <label class="mainpage__search-toggler__label">
          <input type="checkbox" class="mainpage__search-toggler__input">
          <span class="mainpage__search-toggler mainpage__search-toggler_js">JavaScript</span>
        </label>
      </div>
      <label for="search" class="visually-hidden">Форма поиска по статьям сайта</label>
      <input type="search" id="search" class="mainpage__search-input" placeholder="Поиск..." autocomplete="off" autofocus>
    </div>
    <div id="search-suggestions" class="mainpage__search-suggestions search__suggestions search__suggestions__hidden" role="listbox"></div>
  </form>
</main>
