---
layout: main
eleventyNavigation:
  key: Home
---

<main class="mainpage__main">
  <section class="mainpage__search mainpage__search_hidden-suggestion">
    <div class="mainpage__search-item">
      <div class="mainpage__search-togglers">
        <span class="mainpage__search-toggler mainpage__search-toggler_html">HTML</span>
        <span class="mainpage__search-toggler mainpage__search-toggler_css">CSS</span>
        <span class="mainpage__search-toggler mainpage__search-toggler_js">JavaScript</span>
      </div>
      <input type="text" id="search" class="mainpage__search-input" placeholder="Поиск..." autocomplete="off">
    </div>
    <div id="search-suggestions" class="mainpage__search-suggestions search__suggestions search__suggestions__hidden"></div>
  </section>
</main>
