<!DOCTYPE html>
<html lang="{{ meta.lang }}">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ meta.title }}</title>

  <link rel="stylesheet" href="{{ '/assets/styles/main.css' | url }}">

  {% include "meta.njk" %}
</head>
<body>
  {% include "counter/yandex-metrika-counter.njk" %}

  <div hidden>{% iconsprite %}</div>
  <a href="#main" class="sr-skip-link">skip to main content</a>

  <div class="layout" role="document">
    {% include "aside/aside.njk" %}
    <main id="main" class="main container" tabindex="-1">
      {{ content | safe }}
    </main>
  </div>

  <script src="{{ '/assets/scripts/main.js' | url }}"></script>
</body>
</html>
