<!DOCTYPE html>
<html lang="{{ meta.lang }}" style="overflow-y:hidden">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="yandex-verification" content="a33683a3bd9dc8c5">
  <title>{{ meta.title }}</title>

  <link rel="stylesheet" href="{{ '/assets/styles/main.css' | url }}">

  {% include "meta.njk" %}
</head>
<body class="mainpage">
  {% include "counter/yandex-metrika-counter.njk" %}
  {% include "header/mainpage-header.njk" %}

  {{ content | safe }}

  <img class="mainpage__mascot"
    src="/assets/images/mainpage/mascot-doka.svg"
    alt="Пёс Дока" />

  <div class="mainpage__footer">
    {% include "footer/footer.njk" %}
  </div>
  <script src="{{ 'assets/scripts/main.js' | url }}"></script>
</body>
</html>
