---
layout: base
---
<article class="article">
  <div class="article__title">
    <h1>{{ title }}</h1>
    <a href="https://github.com/Y-Doka/y-doka.site/blob/master/{{ page.inputPath }}" class="article__title-edit" target="_blank" title="Редактировать на Github.com">&#9998;</a>
    <span class="article__section">{{ section }}</span>
  </div>

  {% if contributors | length > 1 %}
    <div class="article__contributors">
      {% include 'contributors/contributors-list.njk' %}
    </div>
  {% endif%}
  {% if contributors | length == 1 %}
    <div class="article__contributors">
      {% include 'contributors/contributors.njk' %}
    </div>
  {% endif%}

  {{ content | safe }}
  {% include 'feedback-form.njk' %}
</article>
