---
layout: base
---
<article class="article">
  <h1 class="article__title">{{ title }}
    <a href="https://github.com/Y-Doka/y-doka.site/blob/master/{{ page.inputPath }}" class="article__title-edit" target="_blank" title="Редактировать на Github.com">🖊</a>
    <span class="article__section">{{ section }}</span>
  </h1>

  {{ content | safe }}
  {% include 'feedback-form.njk' %}
</article>
