<style>
  {% include './index.css' %}
</style>

<div class="container">
  <div class="block big">
    Lorem ipsum dolor
  </div>
  <div class="block">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem odio totam nobis vitae amet nisi a nesciunt, sed adipisci nam reprehenderit, cum laborum iure sint mollitia. Illo obcaecati delectus blanditiis.
  </div>
  <div class="block small">
    ipsum
  </div>
  <div class="block">Lorem ipsum</div>
  <div class="block">
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quod aspernatur ex aperiam possimus pariatur maxime voluptates quos natus sed dolorem obcaecati accusantium, recusandae veniam, nam vitae, id laboriosam reprehenderit doloribus?
    Quod blanditiis, possimus tenetur dolor fuga pariatur sequi vel libero iusto quisquam. Numquam tenetur, voluptatum at error quae, ea ipsa non natus inventore sequi tempora autem, dicta velit minima necessitatibus?
  </div>
</div>
