<style>
  {% include './cakes.css' %}
</style>

<div class="article__code">
  <h1>Каталог тортов</h1>
  <p>У нас вы можете заказать самые вкусные десерты от свадебных тортов до сочных тартов.</p>

  <h2>Свадебные торты</h2>
  <p>Выберите начинку и внешний вид для торта своей мечты.</p>
</div>
